:root {
    --page-padding: 1%;
    --section-margin: 2%;
    --section-padding: 2%;
    --column-margin: 4%;
}

/*selecting everything*/
* {
    /*borders and paddings are included in the width & height of the elements*/
    box-sizing: border-box;
    /*changing font family for the entire site (fallback font = sans-serif)*/
    font-family: Arial, sans-serif;
}

/*selecting <body> tag*/
body {
    padding: 0;
    margin: 0;
    /*font size for texts (so 1em = 16px)*/
    font-size: 16px;
}

.content-wrapper {
    padding: var(--page-padding);
}

.section-row {
    background-color: #1e8ffe;
    margin-bottom: var(--section-margin);
    padding: var(--section-padding);
    /*clearfix floating columns - overflow solution is a trick - floating parent solution is the right thing to do*/
    /*overflow: auto; */
    float: left;
    width: 100%;
}

.header {
    /*---full centralized background---*/
    /*relative background image url*/
    background-image: url("img/Header.jpg");
    /*no repeating over x-axis or y-axis*/
    background-repeat: no-repeat;
    /*centralize background base position (on lower screens, the center of the background is always shown)*/
    background-position: center;
    /*scaling background to always cover the whole specified area*/
    background-size: cover;
    /*white color text*/
    color: white;
}

/*Background with opacity*/
/*.header:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: calc(100% - var(--page-padding) * 2 - var(--section-padding) * 2);*/
/*    height: 19.5em;*/
/*    opacity: 0.84;*/
/*    z-index: -1;*/
/*    !*relative background image url*!*/
/*    background-image: url("img/Header.jpg");*/
/*    !*no repeating over x-axis or y-axis*!*/
/*    background-repeat: no-repeat;*/
/*    !*centralize background base position (on lower screens, the center of the background is always shown)*!*/
/*    background-position: center;*/
/*    !*scaling background to always cover the whole specified area*!*/
/*    background-size: cover;*/
/*}*/

.footer {
    margin-bottom: 0;
}

.col {
    background-color: #8fec90;
    float: left;
    margin-right: var(--column-margin);
}

.last-col {
    margin-right: 0;
}

.col-4 {
    width: calc((100% - var(--column-margin) * 3) / 4);
}

.col-3 {
    width: calc((100% - var(--column-margin) * 2) / 3);
}

.col-2 {
    width: calc((100% - var(--column-margin)) / 2);
}

.center {
    display: block;
    position: center;
    text-align: center;
}

header>h1>span:first-child {
    margin-bottom: 0.6em;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

header>h1, header>h2 {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

header>h1 {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.6em;
    margin-bottom: 0.5em;
}

header>h2 {
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.3em;
}

.header-link {
    margin: 3em auto;
}

.button-link {
    font-size: 0.7em;
    color: #777777;
    background-color: white;
    border-radius: 32px;
    /*no underline*/
    text-decoration: none;
    padding: 1em 2em;
    transition: background-color 0.1s linear, color 0.1s linear;
}

.button-link:hover {
    background-color: #1e8ffe;
    color: white;
}