:root {
    --page-padding: 1%;
    --section-margin: 2%;
    --section-padding: 2%;
    --column-margin: 4%;
}

/*selecting everything*/
* {
    /*borders and paddings are included in the width & height of the elements*/
    box-sizing: border-box;
    /*changing font family for the entire site (fallback font = sans-serif)*/
    font-family: Arial, sans-serif;
}

/*selecting <body> tag*/
body {
    margin: 0;
    /*font size for texts (so 1em = 16px)*/
    font-size: 16px;
}

.content-wrapper {
    padding: var(--page-padding);
}

.section-row {
    /*doesn't work with float*/
    /*display: table;*/
    margin-bottom: var(--section-margin);
    padding: var(--section-padding);
    /*clearfix floating columns - overflow solution is a trick - floating parent solution is the right thing to do*/
    /*overflow: auto; */
    float: left;
    width: 100%;
}

.header {
    /*---full centralized background---*/
    /*relative background image url*/
    background-image: linear-gradient(rgba(2, 56, 163, 0.6), rgba(2, 56, 163, 0.6)), url("img/Header.jpg");
    /*no repeating over x-axis or y-axis*/
    background-repeat: no-repeat;
    /*centralize background base position (on lower screens, the center of the background is always shown)*/
    background-position: center;
    /*scaling background to always cover the whole specified area*/
    background-size: cover;
    /*white color text*/
    color: white;
}

/*Background with opacity*/
/*.header:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: calc(100% - var(--page-padding) * 2 - var(--section-padding) * 2);*/
/*    height: 19.5em;*/
/*    opacity: 0.84;*/
/*    z-index: -1;*/
/*    !*relative background image url*!*/
/*    background-image: url("img/Header.jpg");*/
/*    !*no repeating over x-axis or y-axis*!*/
/*    background-repeat: no-repeat;*/
/*    !*centralize background base position (on lower screens, the center of the background is always shown)*!*/
/*    background-position: center;*/
/*    !*scaling background to always cover the whole specified area*!*/
/*    background-size: cover;*/
/*}*/

.footer {
    margin-bottom: 0;
}

.col {
    float: left;
    margin-right: var(--column-margin);
}

.last-col {
    margin-right: 0;
}

.col-4 {
    width: calc((100% - var(--column-margin) * 3) / 4);
}

.col-3 {
    width: calc((100% - var(--column-margin) * 2) / 3);
}

.col-2 {
    width: calc((100% - var(--column-margin)) / 2);
}

.center {
    display: block;
    position: center;
    text-align: center;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

header>h1, header>h2 {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

header>h1 {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.7em;
    line-height: 2em;
    margin-bottom: 0.5em;
}

header>h2 {
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 0.5em;
    line-height: 1.4em;
}

.header-link {
    margin: 8em auto;
}

.button-link {
    font-size: 0.7em;
    color: #777777;
    background-color: white;
    border-radius: 32px;
    /*no underline*/
    text-decoration: none;
    padding: 1em 2em;
    transition: background-color 0.1s linear, color 0.1s linear;
}

.button-link:hover {
    background-color: #1e8ffe;
    color: white;
}

#lectures {
    /*---full centralized background---*/
    /*relative background image url*/
    background-image: linear-gradient(135deg, rgba(192, 31, 255, 0.5), rgba(66, 216, 254, 0.5), rgba(13, 255, 61, 0.5)), url("img/Background.jpg");
    /*no repeating over x-axis or y-axis*/
    background-repeat: no-repeat;
    /*centralize background base position (on lower screens, the center of the background is always shown)*/
    background-position: center;
    /*scaling background to always cover the whole specified area*/
    background-size: cover;
    padding: 10em var(--section-padding);
}

.card {
    /*when float != none, display=block, so this doesn't work for vertically aligning cards*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    background-color: rgb(210, 210, 210, 0.9);
    color: #444444;
    padding: 1.5em;
    text-align: center;
    opacity: 0.9;
    border-radius: 6px;
    transition: transform ease-out 0.1s;
}

.card:hover {
    transform: translateY(-0.5em) scale(1.1);
}

.card-logo {
    width: 100%;
    height: 7em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    /*cursor blinking problem after user selection*/
    user-select: none;
}

.card-title {
    font-weight: bold;
    margin: 1em 0;
}

.card-text {
    color: #555555;
}

.card-text>p {
    /*card paragraphs should stick together*/
    margin: 0
}

.logo-http {
    background-image: url("img/http_icon.png");
}

.logo-html {
    background-image: url("img/css_icon.png");
}

.logo-js {
    background-image: url("img/js_icon.png");
}

.logo-golang {
    background-image: url("img/go_icon.png");
}

#related_books {
    background-color: #d7d7d7;
}

.books-title {
    width: 100%;
    text-align: center;
}

.books-title>h2 {
    display: inline-block;
    user-select: none;
    color: #1e65fe;
    transition: color 0.1s ease-out;
}

.books-title>h2:hover {
    color: #900090;
}

.book {
    text-align: center;
    perspective: 2000px;
    background-color: transparent;
}

.flip-book {
    border-radius: 6px;
    color: #333333;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    position: relative;
    width: 100%;
    height: 100%;
}

/*when hovering on a book, do this for flip-book*/
.book:hover .flip-book {
    transform: rotateY(180deg);
}

.flip-front, .flip-back {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-front {
    background-color: white;
}

.flip-back {
    /*flip-back is initially flipped*/
    transform: rotateY(180deg);
    background-color: #777777;
}

.book-text {
    line-height: 2em;
    padding: 3em 3em 8em;
}

.book-text>hr {
    opacity: 0.2;
}

.book-image {
    width: 100%;
    aspect-ratio: 1.6;
    /*cursor blinking problem after user selection*/
    user-select: none;
}
